*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tw Cen MT';
    font-size: 14px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('death.gif') center center no-repeat;
    background-size: cover;
    z-index: -100;
}


header {
    max-width: 80%;
    margin: auto;
    margin-left: auto;

}


.logo {
    margin-left: 20px;
    margin-top: -550px;
    width: 150px;
    display: block;





}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 30px 0 10px;





}






nav ul {
    margin-top: 10%;
    margin-left: 20px;
    display: flex;
    gap: 40px;


    flex-direction: column;



}

nav ul li a {

display: inline-block;
background-color: black;
color: rgb(255, 0, 0);
border: 1px solid red;
padding: 10px 20px;
text-decoration: none;
width: fit-content;
margin-bottom: 0px;
display: grid;



}

nav ul li a:first-child {
    margin-bottom: 10px;




}

nav ul li a:hover {
    background-color: red;
    color: black;
    transition: color .8s;





}



