*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('save.gif') center center no-repeat;
    background-size: cover;
    z-index: -100;
}

.clignote{
    position: fixed;
    bottom: 50px;
    left: 12.2%;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 20px;
    display: inline-block;
    line-height: 10px;
    max-width: 1000px;
    border: 1px solid #e00909;
    color: #f02e2e
    
}

.clignote{
    animation: clignote 1s infinite;



}

@keyframes clignote {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}



}