*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

body {
    font-family: 'Tw Cen MT';
    font-size: 14px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('death.gif') center center no-repeat;
    background-size: cover;
    z-index: -100;
}

header {
    max-width: 80%;
    margin: auto;
    margin-left: auto;

}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 30px 0 10px;





}

nav .logo {
    width: 150px;




}

nav .menu-icon {
    width: 20px;
    cursor: pointer;



}
nav ul {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;




}

nav ul li{

    list-style: none;
    margin-left: 20px;

}

nav ul li a{

    text-decoration: none;
    color: b#ffffff;
    font-size: 1.2rem;
    transition: color .3s;
    color: #e02309;

}



nav ul li a:hover{
    color: #e00909;




}






.text {
    position: 70px 0;
    color: #f7f7f7;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;





}

.text h1 {
    font-size: 75px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    color: #ff0000;
    transition: color .3s;



}




.text h1:hover{
    color: #ff0800;


}

.text p {
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    
}

.text{
    padding: 70px 0;
    color: #fff;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;






}

.text h1 {
    font-size: 75px;
    line-height: 1.5;
    letter-spacing: 1;
    margin-bottom: 1rem;





}

.text p {
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #ff0000;



}

.text a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.25rem;
    border: 1px solid #f02e2e;
    color: #f02e2e;
    padding: 10px 20px;
    margin-right: 30px;



}

.button{
    position: fixed;
    bottom: 0px;
    left: 50%;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    display: inline-block;
    line-height: 10px;
    max-width: 100px;
    border: 1px solid #e00909;
    color: #f02e2e







}

